<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      מיקומים
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius primary">
          <img src="assets/images/hospital.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>קבלה</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius primary-shade">
          <img src="assets/images/exit.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>יציאה</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius primary-tint">
          <img src="assets/images/medicine.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>בית מרקחת</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius tertiary">
          <img src="assets/images/nurse.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>אחיות</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius tertiary-shade">
          <img src="assets/images/heart.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>מחלקת לב</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius tertiary-tint">
          <img src="assets/images/toilet.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>שירותים</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius secondary-shade">
          <img src="assets/images/band-aid.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>אורתופדיה</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius secondary-tint">
          <img src="assets/images/saline.png" style="max-width:100px;max-height:100px;margin-top: 20px">
          <br>
          <span style="color:white"><b>מיון</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
  </div>
</ion-content>