<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Locations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius primary">
          <img src="assets/images/hospital.png" class="icon-size">
          <br>
          <span><b>Reception</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius primary-shade">
          <img src="assets/images/exit.png" class="icon-size">
          <br>
          <span><b>Exit</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius primary-tint">
          <img src="assets/images/medicine.png" class="icon-size">
          <br>
          <span><b>Pharmacy</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius tertiary">
          <img src="assets/images/nurse.png" class="icon-size">
          <br>
          <span><b>Nurses</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius tertiary-shade">
          <img src="assets/images/heart.png" class="icon-size">
          <br>
          <span><b>Heart Department</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius tertiary-tint">
          <img src="assets/images/toilet.png" class="icon-size">
          <br>
          <span><b>Toilet</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="border-radius secondary-shade">
          <img src="assets/images/band-aid.png" class="icon-size">
          <br>
          <span><b>Orthopedics</b></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="border-radius secondary-tint">
          <img src="assets/images/saline.png" class="icon-size">
          <br>
          <span><b>Emergency</b></span>
        </div>
      </ion-col>
    </ion-row>
    <br>
  </div>
</ion-content>