:host{
    display: flex;
    justify-content: center;
    align-items: center;

    background: green;
    height: 1rem;
    width: 1rem;
   // margin: 1px;


    &.tile-block{
        background: red;
    }

    &.tile-start{
        background: yellow;
    }

    &.tile-end{
        background: yellow;
    }

    &.tile-step{
        background: blue;
    }
}