:host {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: green;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;


    img{
        display: none;
        width: 2rem;
        height: 2rem;
    }

    // margin: 1px;
    &.tile-block {
        background: black;
        opacity: .3;
    }

    &.tile-start {
        position: relative;
        border-radius: 50%;
        background: red;

        &::before {
            display: block;
            top: 0;
            position: absolute;
            background-image: url('../../../../../src/assets/pin.png');
            width: 2rem;
            height: 2rem;
        }
    }

    &.tile-end {
        background: green;
        border-radius: 50%;
    }

    &.tile-step {
        border-radius: 50%;
        transform: scale(.7);
        background: rgba(blue, .5);
    }
}