<div [ngClass]="{'footer': true}">
  <!--<ul class="nav nav-pills" style="height: 100%">-->
    <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
    <!--<li role="presentation"><a href="#">Profile</a></li>-->
    <!--<li role="presentation"><a href="#">Messages</a></li>-->
  <!--</ul>-->
      <div class="col-md-4" style=" height: 100%; padding: 0">
        <button class="btn btn-primary" style="width: 100%; height: 100%; border-radius: 0" ><span class="glyphicon glyphicon-tasks" aria-hidden="true" style="font-size: 40px"></span></button>
      </div>
      <div class="col-md-4" style="height: 100%; padding: 0">
        <button class="btn btn-primary" style="width: 100%; height: 100%; border-radius: 0">Click</button>
      </div>
      <div class="col-md-4" style=" height: 100%; padding: 0 ">
        <button class="btn btn-primary" style="width: 100%; height: 100%; border-radius: 0">Click</button>
      </div>
</div>
