:host {
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  height: 82vh;

  .grid-bg {

    position: relative;
    display: inline-block;
    // width: auto;

    // white-space: nowrap;
    text-overflow: ellipsis;
    &:not(.map-rotate) {
      height: 82vh;

    }
    &.map-rotate {
      top: 0;
      left: 0;
      transform: rotate(90deg);
      height: 100%;
      width: 82vh;

    }

    img {
      display: block;
      max-height: 100%;
    }

    table {
      display: block;
      position: absolute;
      top: 0;
      // bottom: 0;
      left: 0;

      // right: 0;
      tbody {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        tr {
          display: flex;
          flex: 1;
          border-bottom: 1px solid gray;

          td {
            flex: 1;
            border-left: 1px solid gray;
          }
        }
      }
    }
  }
}

