<ion-header>
  <ion-toolbar>
    <ion-title text-center>Identification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="selectedView == views.Login" text-center>

    <ion-card>
      <ion-img src="assets/images/login.png"></ion-img>
      <ion-card-content>
        <ion-card-title>Identification</ion-card-title>
        <br>
        <p>Dear customer</p>
        <p>In order to identify, enter your ID number.</p>
        <br>
        <form (ngSubmit)="onSubmit()" #PlayersInfoAndRate="ngForm">
          <div class="page-padding">
            <input text-center class="test" matInput type="text" [maxlength]="11" [minlength]="6" [(ngModel)]="user.Id" [name]="'name'" required>
            <br>
            <!-- <ion-button id="basic" expand="block" (click)="presentLoading()">Show Loading</ion-button> -->
            <ion-button type="submit" shape="round" color="fefault" [disabled]="PlayersInfoAndRate.invalid">Send</ion-button>
          </div>
          <br>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="selectedView == views.AppointmentDetails" text-center>
    <ion-card>
      <ion-img src="assets/images/doctor.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title>Dr. Ivan the terrible</ion-card-title>
        <br>

        <p><ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;September 6th 2018</p>
        <p><ion-icon name="time"></ion-icon>&nbsp;&nbsp;02:00pm</p>
        <p><ion-icon name="pin"></ion-icon>&nbsp;&nbsp;Orthopedic Department</p>
        <br>
        <ion-button color="primary" href="/tabs/(about:about)" (click)="navigateToMap()">
          <ion-icon name="navigate"></ion-icon>
          &nbsp;&nbsp;
          <span>Navigate</span>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="assets/images/mri.jpg"></ion-img>
        <ion-card-content>
          <ion-card-title>Dr. Gabi fingers</ion-card-title>
          <br>
          <p><ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;October 8th 2018</p>
          <p><ion-icon name="time"></ion-icon>&nbsp;&nbsp;08:35am</p>
          <p><ion-icon name="pin"></ion-icon>&nbsp;&nbsp;X-ray department</p>
          <br>
          <ion-button color="primary" href="/tabs/(about:about)" (click)="navigateToMap()">
            <ion-icon name="navigate"></ion-icon>
            &nbsp;&nbsp;
            <span>Navigate</span>
          </ion-button>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>