<ion-header>
  <ion-toolbar>
    <ion-title text-center>הזדהות</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="selectedView == views.Login" text-center>

    <ion-card>
      <ion-img src="assets/images/login.png"></ion-img>
      <ion-card-content>
        <ion-card-title>הזדהות</ion-card-title>
        <br>
        <p>לקוח יקר</p>
        <p>בכדי להזדהות הכנס מספר ת.ז</p>
        <br>
        <form (ngSubmit)="onSubmit()" #PlayersInfoAndRate="ngForm">
          <div class="page-padding">
            <input text-center class="test" matInput type="text" [maxlength]="11" [minlength]="6" [(ngModel)]="user.Id" [name]="'name'" required>
            <br>
            <!-- <ion-button id="basic" expand="block" (click)="presentLoading()">Show Loading</ion-button> -->
            <ion-button type="submit" shape="round" color="fefault" [disabled]="PlayersInfoAndRate.invalid">שלח</ion-button>
          </div>
          <br>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="selectedView == views.AppointmentDetails" text-center>
    <ion-card>
      <ion-img src="assets/images/doctor.jpg"></ion-img>
      <ion-card-content>
        <ion-card-title>ד"ר איוון האיום</ion-card-title>
        <br>
        <p>בשעה : 09:40</p>
        <p>מחלקה אורטופדית</p>
        <br>
        <ion-button color="primary" href="/tabs/(about:about)" (click)="navigateToMap()">
          <ion-icon name="navigate"></ion-icon>
          &nbsp;&nbsp;
          <span>נווט לתור</span>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="assets/images/doctor.jpg"></ion-img>
        <ion-card-content>
          <ion-card-title>ד"ר איוון האיום</ion-card-title>
          <br>
          <p>בשעה : 09:40</p>
          <p>מחלקה אורטופדית</p>
          <br>
          <ion-button color="primary" href="/tabs/(about:about)" (click)="navigateToMap()">
            <ion-icon name="navigate"></ion-icon>
            &nbsp;&nbsp;
            <span>נווט לתור</span>
          </ion-button>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>